


<div class="mt-5 sticky-top">
   <p class="text-center lead text-danger">HOT TOPICS</p>
   <div class="card mt-2">
     <div class="card-block">
       <div class="card-header bg-danger text-white">
         Programming
       </div>
     </div>
     <div class="card-text p-2 text-info">
       Programming is one of the growing occupation in todys genration....
     </div>
   </div>
   <div class="card mt-2">
     <div class="card-block">
       <div class="card-header bg-danger text-white">
         Programming
       </div>
     </div>
     <div class="card-text p-2 text-info">
       Programming is one of the growing occupation in todys genration....
     </div>
   </div>
   <div class="card mt-2">
     <div class="card-block">
       <div class="card-header bg-danger text-white">
         Programming
       </div>
     </div>
     <div class="card-text p-2 text-info">
       Programming is one of the growing occupation in todys genration....
     </div>
   </div>
</div>
